.contacts-section {
    padding-top: 80px;
    padding-bottom: 77px;
    background-image: url("../img/contact-bg.jpg");
    background-color: var(--color-ebony);
    background-position: center;
    background-size: cover; //Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.
    background-repeat: no-repeat;

    &__form {
      background-color: var(--color-light);
    }

    &__container {
        display: flex;
        justify-content: flex-end;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 495px;
    padding: 48px 40px;
    border: 1px solid #e5e8ed ;
    box-shadow: 0 60px 80px -20px rgba(30, 33, 44, 0.16), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;


    &__title {
        margin: 0;
        width: 100%;
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
        text-align: center;
        color: #1E212C;
    }

    &__field {
      margin-bottom: 21px;
    }

    &__checkbox {
      margin-bottom: 22px;
    }

    &__btn {
      font-size: 14px;
      letter-spacing: .5px;
      padding: 12px 23px;
    }
}
