.header-contacts {
    @include flex-v-center;

    &__link {
        @include flex-column-start;
    }
}

.contacts-link {
    padding: 60px;
    background-position: left center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    &__description {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
    }

    &__nesting {
        font-size: 18px;
        line-height: 150%;
        color: #1e212c;
    }

    &--call {
        background-image: url("../img/svg/IPhone.svg");
    }

    &--mail {
        background-image: url("../img/svg/Chat.svg");
    }
}