<section class="testimonials">
    <div class="container">
        <div class="terstimonials__content"></div>
        <h2 class="title">What our clients are saying</h2>


    </div>

    <div class="slider-nav portfolio-section__slider-nav">
      <button class="btn-reset slider-nav__btn portfolio-section__prev slider-btn">
          <svg>
              <use xlink:href="img/sprite.svg#Left-arrow"></use>
          </svg>
      </button>
      <button class="btn-reset slider-nav__btn portfolio-section__next slider-btn">
          <svg>
              <use xlink:href="img/sprite.svg#Right-arrow"></use>
          </svg>
      </button>


    </div>

    <div class="swiper testimonials__items swiper-no-swiping">
      <div class="swiper-wrapper">
          <div class="slide">
              <a href="#" class="portfolio-item">
                  <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
                  <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">Red Finger Building</h3>
                      <span class="portfolio-item__description">Business Centers</span>
                      <div class="portfolio-item__btn btn">View Project</div>
                  </div>
              </a>
          </div>

     </div>
  </div>
</section>
